body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #a1abb7, #9da9bf);
  color: #e0e1dd;
}

.container {
  max-width: 900px;
  margin: 50px auto;
  padding: 30px;
  background-color: #919dac;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 223, 0, 0.3);
  border-left: 10px solid #fcd34d;
}

h1 {
  color: #fcd34d;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 1.1em;
  line-height: 1.8;
  color: #dce2f0;
}
